<header class="navbar">
  <a href="/" class="navbar__logo">
    <img src="/assets/svg/logo.svg" alt="Bob CD Logo">
    <span>bob cd</span>
  </a>

  <nav role="navigation">
    <a href="#tada" class="menu-toggle">
      <b>Menu</b>
    </a>
    <ul id="tada">
      {% for item in site.data.navigation %}
      {% if item.type == "category" %}
      {% if item.link %}
      <li>
        <a data-navheader href="{{ item.link }}" {% if page.url == item.link %} class="active" {% endif %}>
          {{ item.name | downcase }}
        </a>
        <ul class="dropdown">
          {% for subItem in item.items %}
          <li>
            <a href="{{ subItem.link }}" {% if page.url == subItem.link %} class="active" {% endif %}>
              {{ subItem.name | downcase }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li>
        <span data-navbar-category>{{ item.name | downcase }}</span>
        <ul class="dropdown">
          {% for subItem in item.items %}
          <li>
            <a href="{{ subItem.link }}" {% if page.url == subItem.link %} class="active" {% endif %}>
              {{ subItem.name | downcase }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% else %}
      <li>
        <a href="{{ item.link }}" {% if page.url == item.link %} class="active" {% endif %}>
          {{ item.name | downcase }}
        </a>
      </li>
      {% endif %}
      {% endfor %}
      <li><object data="https://img.shields.io/github/forks/bob-cd/bob?label=Fork&amp;style=social"></object></li>

    </ul>
  </nav>
</header>