---
---

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/assets/fonts/jetBrainsMono/JetBrainsMono-Regular.woff2') format("woff2");
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('/assets/fonts/jetBrainsMono/JetBrainsMono-Bold.woff2') format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('/assets/fonts/jetBrainsMono/JetBrainsMono-Bold-Italic.woff2') format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('/assets/fonts/jetBrainsMono/JetBrainsMono-ExtraBold.woff2') format("woff2");
  font-weight: bolder;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/assets/fonts/jetBrainsMono/JetBrainsMono-ExtraBold-Italic.woff2') format("woff2");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('/assets/fonts/jetBrainsMono/JetBrainsMono-ExtraBold-Italic.woff2') format("woff2");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('/assets/fonts/jetBrainsMono/JetBrainsMono-Italic.woff2') format("woff2");
  font-style: italic;
}
@font-face {
  font-family: 'JetBrainsMono';
  src: url('/assets/fonts/jetBrainsMono/JetBrainsMono-Italic.woff2') format("woff2");
  font-style: italic;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/assets/fonts/jetBrainsMono/JetBrainsMono-Medium.woff2') format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/assets/fonts/jetBrainsMono/JetBrainsMono-Medium-Italic.woff2') format("woff2");
  font-weight: 500;
  font-style: italic
}


body {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

code {
  font-family: 'JetBrainsMono', 'Courier New', Courier, monospace !important;
  font-weight: 500 !important;
}

pre>code {
  border: none;
}

body article, body footer, body header, body main {
  max-width: 70rem;
  margin-top: 100px;
}

nav a, .navbar a, a {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
  }
  &:active, &:focus, &:visited {
    color: black;
    text-decoration: none;
  }
}

a {
  text-decoration: underline;
}

.navbar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  nav {
    margin: 0;
    a {
      object {
        transform: translateY(20%);
      }
    }

    li {
      display: inline-block;
    }

    ul li ul {
      display: none;
      position: absolute;
      flex-flow: column;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: flex;
    }
    .active {
      font-weight: bold;
    }
  }

  .navbar__logo-container {
    display: flex;
    flex-flow: row;

    &__logo {
      height: 25px;
      width: 25px;
      margin: 0 10px 0 0;
    }
  }

  .menu-toggle {
    display: none;
  }
}

.jumbotron {
  background: #F5F5F5;
  padding: 50px;
}

.logo {
  background: url('/assets/img/bob_logo.png') center / contain no-repeat;
}
