---
---

body {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

body article, body footer, body header, body main {
  max-width: 70rem;
}

nav a, .navbar a {
  color: black;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  &:active, &:focus, &:visited {
    color: black;
    text-decoration: none;
  }
  
}

.navbar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  
  nav {
    margin: 0;
    a {
      margin: 0px 10px;
      object {
        transform: translateY(20%);
      }
    }
  }

  .navbar__logo {
    display: flex;
    flex-flow: row;

    img {
      height: 25px;
      margin: 0 10px 0 0;
    }
  }
}

.jumbotron {
  background: #F5F5F5;
  padding: 50px;
}

