---
---

.jumbotron {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  section {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  blockquote {
    padding: 0;
  }
  
  iframe {
    margin: auto 0;
    height: 20vw;
  } 
}

.jumbotron-hr {
  margin: 50px 0;
  border-top: 1px solid grey;
}

.jumbotron:not(:first-child) {
  min-height: 300px;
}

.jumbotron:first-child {
  section {
    text-align: center;
    img {
      margin: 20px 0 ;
    }

  }
}